body {
	width: 100%;
	height: 100%;
	background-color: #000;
	overflow: hidden;
}

.star-wars {
	position: absolute;
	font-size: 50px;
	font-family: sans-serif;
	text-align: justify;
	font-weight: bold;
	color: gold;
	width: 1000px;
	height: 1000px;
	bottom: 0;
	left: 50%;
	margin-left: -500px;
	transform-origin: 50% 90%;
	transform: perspective(800px) rotateX(50deg);
}


.text-starwars {
	position: absolute;
	top: 100%;
	animation: scroll 30s linear 0s infinite;
   
}

.episode, .attack-front {	
	text-align: center;
}

@keyframes scroll {
	0% { top: 100%; }
	100% { top: -160%; } 